<div style="    text-align: center;height: 100vh;width: 100%;">
<span style="font-size: 50px;font-weight: 600;font-family: cursive;">ERROR 404</span> <br>
<button nz-button  routerLink=''>go to home &ensp; <i nz-icon nzType="bank" nzTheme="outline"></i></button> 
</div>