<!-- <div *ngIf="listuserId; else loading"> -->
<div *ngFor="let item of listuserId">
    <input class="custom-input" [ngStyle]="{ 'cursor' :kt_input == true ? '' : 'pointer'   }" nzSize="default" nz-input
        [(ngModel)]="item.email" [disabled]="kt_input" />
    <br />
    <br />
    <input class="custom-input" [ngStyle]="{ 'cursor' :kt_input == true ? '' : 'pointer'   }" nzSize="default" nz-input
        [(ngModel)]="item.first_name" [disabled]="kt_input" />
    <br />
    <br />
    <input class="custom-input" [ngStyle]="{ 'cursor' :kt_input == true ? '' : 'pointer'   }" nzSize="default" nz-input
        [(ngModel)]="item.last_name" [disabled]="kt_input" />

    <br>
    <button *ngIf="kt_input" (click)="edit_List();" nz-button nzType="default">Edit</button>
    <button *ngIf="!kt_input" (click)="Save_edit_List(item);" nz-button nzType="primary" >Save
        Edit</button>
        <button *ngIf="kt_input" routerLink="/" nz-button nzType="default">home</button>
    <button *ngIf="!kt_input" (click)="goTohome();" nz-button nzType="default">home</button>
</div>
<nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Title Edit"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzWidth]="300"
    >
      <p>Are you sure you want to go page home?</p>
    </nz-modal>
<!-- </div> -->
<!-- <ng-template #loading>
    <app-children-loading></app-children-loading>
</ng-template> -->