<nz-layout>
  <nz-sider class="nz-sider-menu" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul [ngClass]="{'menu_left': !isCollapsed, 'no_menu_left': isCollapsed}" nz-menu nzTheme="dark" nzMode="inline">
      <li [ngClass]="{'menu_user': !isCollapsed, 'no_menu_user': isCollapsed}" nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li [ngClass]="{'menu_user': !isCollapsed, 'no_menu_user': isCollapsed}" nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <ul nz-menu nzTheme="light" nzMode="horizontal">
        <i class="trigger" nz-icon [nzType]="isHidden ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"></i>

        <nz-input-group [nzSuffix]="suffixIconSearch" class="input_search">
          <input type="text" nz-input placeholder="Search product" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search" class="search"></i>
        </ng-template>

        <button class="user" nz-button nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
          <i nz-icon nzType="user"></i>
        </button>
        <nz-dropdown-menu #menu2="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngIf='token'>{{email}}</li>
            <li nz-menu-item routerLink="/login" *ngIf='!token'>login</li>
            <li nz-menu-item routerLink="/login" *ngIf='token' (click)='logOut()'>logout</li>
            <li nz-menu-item>setting</li>
          </ul>
        </nz-dropdown-menu>
      </ul>
    </nz-header>
    <div>
      <div nz-row>
        <div nz-col [nzSpan]="isHidden ? '24' : '16'">
          <nz-content>
            <div>
              <nz-breadcrumb>
                <nz-carousel nzAutoPlay [hidden]="isHidden">
                  <div nz-carousel-content *ngFor="let index of array">
                    <h3>{{ index }}</h3>
                  </div>
                </nz-carousel>
              </nz-breadcrumb>
            </div>
            <div class="scrollable-container">
              <div class="background">
                <div class="inner-content">
                  <div class="container page-wrapper">
                    <div class="page-inner" *ngFor='let us of listuser'>
                      <div class="row">
                        <div class="el-wrapper">
                          <div class="box-up">
                            <img class="img" [src]="us.avatar" alt="">
                            <div class="img-info">
                              <div class="info-inner">
                                <span class="p-name">{{us.first_name}}</span>
                                <span class="p-company">{{us.last_name}}</span>
                              </div>
                              <div class="a-size">Sizes : <span class="size">S ,
                                  M , L , XL</span></div>
                            </div>
                          </div>

                          <div class="box-down">
                            <div class="h-bg">
                              <div class="h-bg-inner"></div>
                            </div>
                            <!-- //(click)="getdetails(us.id)" -->
                            <a class="cart" [routerLink]="['/product',us.id]">
                              <span class="price">124</span>
                              <span class="add-to-cart">
                                <span class="txt">add card</span>
                              </span>
                            </a>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <i [hidden]="!isHidden" nz-icon [nzType]="visible ? 'caret-down' : 'caret-right' " nzTheme="outline"
                    nz-popover nzPopoverTitle="Title" [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"
                    [(nzVisible)]="visible">
                  </i>
                </div>
              </div>
            </div>

          </nz-content>
        </div>

        <ng-template #contentTemplate [ngIf]="!isHidden">
          <div nz-col [nzSpan]="isHidden ? '24' : '8'">
            <nz-content class="content-left">
              <nz-breadcrumb>
                <div class="inner-content inner-left">
                  <app-children (user)="edituser($event);"></app-children>
                </div>
              </nz-breadcrumb>
            </nz-content>
          </div>
        </ng-template>
      </div>
      <div> <a style="display: none;" [hidden]="visible" (click)="clickMe()">Close</a></div>
    </div>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>